
<div class="col-lg-12">
	<h1 class="page-header">{{Titulo1}}{{Titulo2}}</h1>
</div>
<div class="col-lg-12">
	<table ng-table class="table table-bordered">
		<thead>
			<tr>
				<th>Código</th>
				<th>Nome</th>
				<th>CPF</th>
				<th>E-mail</th>
				<th>Status</th>
				<th>Ações</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="funcionario in funcionarios">
				<td>{{funcionario.id}}</td>
				<td>{{funcionario.nome}}</td>
				<td>{{funcionario.cpf}}</td>
				<td>{{funcionario.email}}</td>
				<td>{{ funcionario.status && "Ativado" || "Inativado" }}</td>
				<td>
					<button type="button" class="btn btn-danger"
						ng-disabled="!funcionario.status"
						ng-click="inativar(funcionario.id)">
						<i class="glyphicon glyphicon-remove"></i> Inativar
					</button>
				</td>
			</tr>
		</tbody>
	</table>
</div>