<div>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4>{{Titulo1}}{{Titulo2}}</h4>
		</div>
		<div class="panel-body">
			<table ng-table class="table table-bordered">
				<thead>
					<tr>
						<th>Código</th>
						<th>Nome</th>
						<th>CPF</th>
						<th>E-mail</th>
						<th>Ações</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="funcionario in funcionarios">
						<td>{{funcionario.id}}</td>
						<td>{{funcionario.nome}}</td>
						<td>{{funcionario.cpf}}</td>
						<td>{{funcionario.email}}</td>
						<td>
							<button type="button" class="btn btn-default"
								ng-click="editar(funcionario.id)">
								<i class="glyphicon glyphicon-pencil"></i> Editar
							</button>
							<button type="button" class="btn btn-danger"
								ng-click="excluir(funcionario.id)">
								<i class="glyphicon glyphicon-remove"></i> Excluir
							</button></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>