<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="connection.datasource">java:/comp/env/jdbc/sadsmalllanchonete</property>
		<property name="hibernate.hbm2ddl.auto">update</property>
		<property name="current_session_context_class">thread</property>
		<property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
		<property name="show_sql">true</property>
		<property name="hibernate.temp.use_jdbc_metadata_defaults">false</property>
		
		<mapping class="com.sadlanchonete.entidade.Funcionario" />
		<mapping class="com.sadlanchonete.entidade.Endereco" />
		<mapping class="com.sadlanchonete.entidade.Telefone" />
		
	</session-factory>
</hibernate-configuration>