<main class="row"> 
<div class="col-lg-12">
	<h1 class="page-header">{{Titulo1}}{{Titulo2}}</h1>
</div>
<div class="col-lg-12">
	<table ng-table class="table table-bordered">
		<thead>
			<tr>
				<th>Código</th>
				<th>Nome</th>
				<th>Preço</th>
				<th style="width: 40%;">Ações</th>
			</tr>
		</thead> 
		<tbody>
			<tr ng-repeat="produto in produtos">
				<td>{{produto.id}}</td>
				<td>{{produto.nomeProduto}}</td>
				<td>{{produto.preco}}</td>
				<td><button type="button" class="btn btn-primary btn-sm"
						ng-click="adicionarComponente(produto.id)">
						<i class="glyphicon glyphicon-plus"></i> Adicionar Componentes
					</button>
					<button type="button" class="btn btn-default btn-sm"
						ng-click="editar(produto.id)">
						<i class="glyphicon glyphicon-pencil"></i> Editar
					</button>
					<button type="button" class="btn btn-danger btn-sm"
						ng-click="excluir(produto.id)">
						<i class="glyphicon glyphicon-remove"></i> Excluir
					</button></td>
			</tr>
		</tbody>
	</table>
</div>
</main>