
<div class="row" ng-controller="PrincipalController as Principal">
	<div class="col-lg-12">
		<h1 class="page-header">Vamos começar?</h1>
	</div>
	<!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
	<div class="col-lg-3 col-md-6">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<div class="row">
					<div class="col-xs-3">
						<i class="fa fa-edit fa-5x"></i>
					</div>
					<div class="col-xs-9 text-right">
						<div class="huge">Novo</div>
						<div>Pedido!</div>
					</div>
				</div>
			</div>
			<a href="#/pedido/cadastrar/1">
				<div class="panel-footer">
					<span class="pull-left">Cadastrar Pedido</span> <span
						class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
					<div class="clearfix"></div>
				</div>
			</a>
		</div>
	</div>
	<div class="col-lg-3 col-md-6">
		<div class="panel panel-green">
			<div class="panel-heading">
				<div class="row">
					<div class="col-xs-3">
						<i class="fa fa-user fa-5x"></i>
					</div>
					<div class="col-xs-9 text-right">
						<div class="huge">Novo</div>
						<div>Funcionario!</div>
					</div>
				</div>
			</div>
			<a href="#/funcionario/cadastrar/1">
				<div class="panel-footer">
					<span class="pull-left">Cadastrar Funcionario</span> <span
						class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
					<div class="clearfix"></div>
				</div>
			</a>
		</div>
	</div>
	<div class="col-lg-3 col-md-6">
		<div class="panel panel-yellow">
			<div class="panel-heading">
				<div class="row">
					<div class="col-xs-3">
						<i class="fa fa-cutlery fa-5x"></i>
					</div>
					<div class="col-xs-9 text-right">
						<div class="huge">{{Principal.qtdProduto}}</div>
						<div>Produto(s)!</div>
					</div>
				</div>
			</div>
			<a href="#/produto/listar">
				<div class="panel-footer">
					<span class="pull-left">Detalhes</span> <span class="pull-right"><i
						class="fa fa-arrow-circle-right"></i></span>
					<div class="clearfix"></div>
				</div>
			</a>
		</div>
	</div>
	<div class="col-lg-3 col-md-6">
		<div class="panel panel-red">
			<div class="panel-heading">
				<div class="row">
					<div class="col-xs-3">
						<i class="fa fa-cubes fa-5x"></i>
					</div>
					<div class="col-xs-9 text-right">
						<div class="huge">{{Principal.qtdComponente}}</div>
						<div>Componente(s)</div>
					</div>
				</div>
			</div>
			<a href="#/componente/listar">
				<div class="panel-footer">
					<span class="pull-left">Detalhes</span> <span class="pull-right"><i
						class="fa fa-arrow-circle-right"></i></span>
					<div class="clearfix"></div>
				</div>
			</a>
		</div>
	</div>
</div>
<!-- /.row -->
<div class="row">
	<div class="col-lg-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<i class="fa fa-list-ul fa-fw"></i> Gerar relatório de compras ao
				estoque
			</div>
			<!-- /.panel-heading -->
			<div class="panel-body">
				<button class="btn btn-primary btn-sm">
					<i class="fa fa-file-pdf-o"></i> Gerar relatório
				</button>

				<br />
				<br />

				<table ng-table class="table table-bordered">
					<thead>
						<tr>
							<th>Nome do Componente</th>
							<th>Tipo do Componente</th>
							<th>Quantidade a ser comprada</th>
							<th>Marcadores</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="componente in componentes">
							<td>{{componente.nomeComponente}}</td>
							<td>{{componente.tipoComponente}}</td>
							<td>{{componente.quantidade}}</td>
							<td><input type="checkbox" /></td>
						</tr>
					</tbody>
				</table>

			</div>
		</div>
	</div>
</div>
<!-- /.row -->
<div class="row">
	<div class="col-lg-8">
		<div class="panel panel-default">
			<div class="panel-heading">
				<i class="fa fa-car fa-fw"></i> Precisa de ajuda?
			</div>
			<!-- /.panel-heading -->
			<div class="panel-body">
				<ul class="timeline">
					<li>
						<div class="timeline-badge">
							<i class="fa fa-cutlery"></i>
						</div>
						<div class="timeline-panel">
							<div class="timeline-heading">
								<h4 class="timeline-title">Cadastrar Produto</h4>
							</div>
							<div class="timeline-body">
								<p>Selecione no menu a esquerda [Produto], logo depois
									[Cadastrar]. Preencha o formulario corretamente depois clique
									em cadastrar.</p>
								<p>Prontinho facil não.</p>
							</div>
						</div>
					</li>
					<li class="timeline-inverted">
						<div class="timeline-badge warning">
							<i class="fa fa-cubes"></i>
						</div>
						<div class="timeline-panel">
							<div class="timeline-heading">
								<h4 class="timeline-title">Cadastrar Componentes do produto</h4>
							</div>
							<div class="timeline-body">
								<p>Selecione no menu a esquerda [Componente], logo depois
									[Cadastrar]. Preencha o formulario corretamente depois clique
									em cadastrar.</p>
							</div>
						</div>
					</li>
					<li>
						<div class="timeline-badge danger">
							<i class="fa fa-toggle-off"></i>
						</div>
						<div class="timeline-panel">
							<div class="timeline-heading">
								<h4 class="timeline-title">Adicionar componentes ao produto</h4>
							</div>
							<div class="timeline-body">
								<p>Selecione no menu a esquerda [Produto], logo depois
									[Listar]. Clique em adicionar componentes. Preencha o
									formulario corretamente depois clique em cadastrar.</p>
								<p>Não se esqueça dos campos obrigatórios, os mesmo vem
									sempre seguidos de '*'.
							</div>
						</div>
					</li>
				</ul>
			</div>
			<!-- /.panel-body -->
		</div>
		<!-- /.panel -->
	</div>
	<!-- /.col-lg-8 -->
	<div class="col-lg-4">
		<div class="chat-panel panel panel-default">
			<div class="panel-heading">
				<i class="fa fa-bug fa-fw"></i> Sujestões de melhoria para o sistema
			</div>
			<!-- /.panel-heading -->
			<div class="panel-body">
				<ul class="chat">
					<li class="left clearfix">
						<div class="chat-body clearfix">
							<div class="header">
								<strong class="primary-font">Fernando Victor</strong>
							</div>
							<p>Implementar pesquisa e paginação em todo lugar do sistema
								onde contenha lista para maior facilidadedo usuario.</p>
						</div>
					</li>
				</ul>
			</div>
			<!-- /.panel-body -->
			<div class="panel-footer">
				<div class="input-group">
					<input id="btn-input" type="text" class="form-control input-sm"
						placeholder="Cadastre uma possivel melhoria" /> <span
						class="input-group-btn">
						<button class="btn btn-warning btn-sm" id="btn-chat">
							Cadastrar</button>
					</span>
				</div>
			</div>
			<!-- /.panel-footer -->
		</div>
		<!-- /.panel .chat-panel -->
	</div>
	<!-- /.col-lg-4 -->
</div>
<!-- /.row -->
