<div class="row" ng-controller="PrincipalController">
  <div class="col-md-12">
    <h2>Bem vindo ao SAD Lanchonete!!!!</h2>
    <h3 style="text-indent: 50px;">O sistema gera relatórios de forma personalizada ou gráficos a respeito das suas vendas e lucros, relatório de lista de compras diárias baseadas num percentual de venda e quantidade em estoque, cadastro de produtos, cadastro de componentes e cadastro de funcionarios. </h3>
    <div class="row">
      <div class="col-md-4">
        <img data-interchange="[assets/img/images/responsive-medium.svg, (default)], [assets/img/images/responsive.svg, (large)]" data-uuid="interchange-i7xsqlak0" src="assets/img/grafico.jpg">
      </div>
      <div class="col-md-4">
        <img data-interchange="[assets/img/images/responsive-medium.svg, (default)], [assets/img/images/responsive.svg, (large)]" data-uuid="interchange-i7xsqlak0" src="assets/img/relatorio.png">
      </div>
      <div class="col-md-4">
      <p style="text-indent: 50px; text-align: justify;">Varias lanchonetes não tem o controle de compras e vendas e muitas vezes perdem produtos em estoque por não saberem oque realmente conte no estoque e oque será utilizado no dia por serem empresas com pequenos percentuais de lucro e não terem dinheiro para investir em uma solução completa que resolva os problemas. Este sistema gerara relatórios diários de compras baseados no que contem em estoque e num percentual de vendas do dia para que não compre a mais nem a menos. A não utilização do sistema o administrador vai sempre estar fazendo compras e vendas sem nenhuma base de informação, ficando dessa forma difícil de competir com outras empresas.
        </p>
      </div>
    </div>
  </div>
  </div>
