<main>
<div ng-controller="ComponenteController as Componente">

	<div class="row">
		<div class="col-lg-12 col-md-12 col-xs-12">
			<div class="panel panel-default">

				<div class="panel-heading">{{Titulo}}{{Titulo2}}</div>
				<div class="panel-body">

					<div class="form-group">
						<label>Nome do componente*</label> <input type="text" class="form-control"
							placeholder="Entre com o nome do componente" ng-disabled="IsDisabled"
							ng-model="Componente.nomeComponente">
					</div>

					<div class="form-group">
						<label>Tipo *</label> <input type="text" class="form-control"
							placeholder="Entre com o tipo do documento" ng-disabled="IsDisabled"
							ng-model="Componente.tipoComponente">
					</div>
					
					<div class="form-group">
						<label>Unidade de medida *</label> <input type="text" class="form-control"
							placeholder="Entre com a unidade de medida" ng-disabled="IsDisabled"
							ng-model="Componente.undMedida">
					</div>
					
					<input type="button" class="btn btn-sm btn-success"
						value="{{Titulo}}" ng-click="cadastrar()" /> <a href="#/Principal"
						class="btn btn-sm btn-danger">Voltar</a>
					
				</div>
			</div>

		</div>
</main>
